# Ignore Python cache
__pycache__/
*.py[cod]
*$py.class

# Ignore virtual environment
skills/Lib/
skills/Scripts/
skills/include/
env/
venv/
.venv/
ENV/

# Ignore database and system files
db.sqlite3
.DS_Store
Thumbs.db
*.log
.vscode/

# Ignore static and media build files
static/
staticfiles/
media/

# Ignore environment files
.env
*.env
